
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  section {
		margin: 1em auto;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

  h1 {
    margin: 1rem auto;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

	p {
    color: #4b5563;
    line-height: 1.7em;
    margin-bottom: 0.5em;
	}

  main a {
    color: blue;
    text-decoration: underline;
  }

	main ul, ol {
		margin-left: 2.5em;
	}

	main ul {
		list-style-type: circle;
	}
	
	main ol {
		list-style-type: decimal;
	}
  
  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
      linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .dg .main {
    font-variant: small-caps;
  }

  .dg.main .close-button {
    display: none;
  }

  #pop-menu {
    position: relative;
    margin: 10%;  
    background: #1a1a1a;
    color: white;
    padding: 14px;
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
  }

  #pop-menu p {
    color: white;
  }

  #pop-menu li {
    margin: 3px;
    border: 1px solid #2fa1d6;
  }

  #pop-ul li:hover {
    background: whitesmoke;
  }

}