---
import Layout from "../layouts/Layout.astro";
import Animation from "../components/Animation.astro";
---

<Layout>
  <div id="animation-wrapper" class="fixed top-0 left-0 z-0 items-center h-[100vh]"></div>
  <Animation />
</Layout>
