<section>
	<h2>Documentation</h2>
	<h3>Stack</h3>
	<p>
		The site uses <a href="https://astro.build/blog/astro-5/">Astro</a> to deliver
		a threeJS 3D environment.
	</p>
	<p>
		Astro excels at combining modules/applications originally coded in different
		languages. This helps keep the threeJS code in its original vanilla-JS form
		while delivering it as a module in a React-like manner.
	</p>
	<p>
		To get a sense of the project, start by checking <code>src/pages</code> directory
		in the project folder.
	</p>
</section>
