---
import BaseHead from "../components/BaseHead.astro";
import Header from '../components/Header.astro';
import background from "../assets/background.svg";

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
      title="Preliminary visualiser"
      description="This is a preliminary visualiser"
    />
	</head>
	
	<body class="w-100 h-100 font-mono">
		<img id="background" src={background.src} alt="" fetchpriority="high" class="fixed top-0 left-0 w-100 h-100 z-[-1] blur-[100px]"/>
		<Header />
		<main class="h-100 w-10/12 mx-auto flex content-center">
			<slot />
		</main>
	</body>
</html>
